.fight-area{
   display: flex;
   gap: 20px;
}

#char,
#foe{
   flex: 1;
}

.lifebar{
   height: 15px;
   border: 1px solid #333;
   border-radius: 10px;
}

.bar{
   height: inherit;
   background-color: red;
   border-radius: 10px;
   width: 10%;
}

.log{
   border: 1px dotted #999;
   height: 200px;
   overflow-y: scroll;
}

.icon{
   height: 300px;
   margin: 15px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon img{
   max-height: 300px;
}